.health-safety-section {
    background-color: #fffbee;
    padding: 60px 20px;
    text-align: center;
    border-top: 2px dashed #ffd700;
    border-bottom: 2px dashed #ffd700;
}

.health-safety-section h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.health-safety-section p {
    font-size: 1.1rem;
    max-width: 700px;
    margin: 0 auto 30px;
    line-height: 1.6;
    color: #444;
}

.health-img {
    width: 40%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 12px;
    object-fit: contain;
    box-shadow: none;
    background: none;
    
}