body {
  margin: 0;
  font-family: Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}
.bee-fly {
  position: absolute;
  top: 20px;
  left: 10%;
  width: 60px;
  animation: floatBee 6s ease-in-out infinite;
  z-index: 1;
}

@keyframes floatBee {
  0% {
    transform: translateY(0) rotate(0deg);
  }

  50% {
    transform: translateY(-15px) rotate(3deg);
  }

  100% {
    transform: translateY(0) rotate(-3deg);
  }
}